* {
   
    color: lightgrey;
    margin: 0px;
}

.header {
    display: flex;
    flex-direction: column;
    height: 175px;
    border-bottom: 4px solid black;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-family: 'Luxurious Script', cursive;
    background-image: url("https://i.vimeocdn.com/video/1476465737-9d8801a871533a84fd75e21a020f9f22029c2567f07177f75fb2111d0aea03c2-d_640");
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    justify-content: space-evenly;
    /* background-color: rgb(85, 1, 85); */
    background-color: #642519;
    padding: 10px;
}

h1 {
    margin-bottom: 20px;
    font-size: 55pt;
    color: rgb(35, 35, 35);
}

h3 {
    font-size: 30pt;
    color: rgb(35, 35, 35);
}

.order {
    background-color: white;
    width: 12vw;
    color: rgb(101, 101, 101);
}

.drop-down {
    color: rgb(101, 101, 101);
    background-color: white;
}

.form-layout {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 16pt;
    height: 500px;
    border-radius: 15px;
    /* background-color: rgb(133, 0, 133); */
    /* background-color: #313B72; */
    background-color: #CCC0AD;
}
label {
    color: black;
}

.togo {
    color: black;
}

input {
    margin-right: 20px;
    color: rgb(101, 101, 101);
}

.radioBtns {
    display: inline;
    width: 300px;
    height: 50px;
    justify-content: flex-start;
    /* flex-direction: column; */
    align-items: center;
    margin: 0px;
}

.hereBtn, .toGoBtn {
    margin: 0px;
    width: 300px;
    height: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}

.hereBtnDiv, .toGoBtnDiv {
    display: flex;
    width: 125px;
    height: 25px;
    justify-content: flex-start;
    margin: auto;
}

button {
    background-color: #A98B67;
    color: black;
    padding: 10px;
    font-size: 14pt;
    border-radius: 15px;
    /* margin-bottom: 40px; */
}

section {
    width: 60vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    padding: 0px;
}

.list-header {
    font-family: 'Luxurious Script', cursive;
    font-size: 26pt;
    width: (60vw - 16px);
    padding: 8px;
    display: block;
    border-bottom: 2px solid black;
}

#queue {
    width: (60vw-16px);
    height: auto;

}

.queueItem {
    width: (60vw - 20px);
    height: 50px;
    background-color: white;
    margin: 5px;
    display: flex;

}

.innerQueueItem {
    width: 50px;
    height: 35px;
    background-color: red;
    margin: 5px;
}